{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import",
    "react",
    "eslint-plugin-filenames"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
        "allowSeparatedGroups": true
      }
    ],
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external", "internal"],
          ["sibling", "parent"],
          "index",
          "unknown"
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@(react|react-native)",
            "group": "external",
            "position": "before"
          },
          {
            "group": "builtin",
            "pattern": "react-native",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ],
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-restricted-syntax": [
      "error",
      {
        "selector": ":matches(ImportNamespaceSpecifier, ExportAllDeclaration, ExportNamespaceSpecifier)",
        "message": "Import/export only modules you need"
      }
    ],
    "import/no-default-export": "error",
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-uses-react": "error",
    "prefer-const": "error",
    "react/jsx-no-useless-fragment": "error"
  },
  "overrides": [
    {
      "files": ["screens/**/*", "App.tsx", "declaration.d.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
